.eventItem {
  display: flex;
  margin: 2.4rem 0;
  align-items: start;
}

.eventItemImage {
  min-width: 455px;
  max-width: 455px;
  min-height: 200px;
  max-height: 200px;
  border-radius: 10px;
  image-rendering: smooth;
}

.eventItemInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 14px;
}

.eventItemTitle {
  font-size: 2.2rem;
  margin: 0;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.eventItemDescription {
  margin: 0;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.eventItemButton {
  margin-top: 10px;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.heartContainer {
  position: relative;
}

.heartImage {
  position: absolute;
  width: 23px;
  top: 10px;
  left: 10px;
  z-index: 1;
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px #222);
}
